.nav-bar-container {
    padding: 20px;
    width: 100%;
    height: 60px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    background: #28A745;
}

table {
    table-layout: fixed;
}

.date-col {
    width: 16%;
}

.coef-col {
    width: 20%;
}

.more-col {
    width: 27%;
}

.teams-col {
    width: 64%;
}

.team-cell {
    text-align: left !important;
}

div {

    display: flex;
    align-items: center;
    color: white;
}

.align-middle {
    vertical-align: middle !important;
    text-align: center;
}

body {
    min-height: 100%;
}

.searchbar {
    width: 80%;
    margin-right: 25px;
}

.nav-bar-title {
    font-size: 25px;
    font-weight: bolder;
}

.nav-bar-search {
    margin-top: 15px;
}

.nav-bar-userpic-pic {
    height: 40px;
    border-radius: 50%;
    margin-right: 30px;
    width: 40px;
    object-fit: cover;
}

.nav-bar-placeholder {
    height: 40px;
    width: 300px;
    border: 1px solid #707070;
    border-radius: 3px;
    background: #ffffff !important;
    outline: none;
    color: #cccccc;
    font-size: 15px;
    font-family: "Segoe UI", serif;
}

.nav-bar-placeholder-button {
    display: flex;
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.dropdown-menu {
    background-color: #4CAF50;
}

.home-list-table {
    display: flex;
    justify-content: center;
    background-color: rgb(196, 196, 196);
    flex-direction: column;
    padding-bottom: 10px;
}

.home-list-header {
    font-family: 'Segoe UI', serif;
    height: 140px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #000000;
}

.home-list-item {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: white;
    flex-direction: column;
    padding-bottom: 10px;
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
    display: flex;
    justify-content: center;
}

.tg .tg-0lax {
    text-align: left;
    vertical-align: top
}

.home-container {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: stretch;
    background-color: #F1F1F1;
}

.home-list {
    background-color: white;
    width: 65vw;
    display: flex;
    flex-direction: column;
}

.home-list-items {
    width: 60vw;
    display: flex;
    flex-direction: column;
    background-color: white;
}

h1 {
    font-family: "Segoe UI", serif;
    font-size: 50px;
}

.home-list-filter {
    width: 92.5%;
    margin-top: 30px;
    align-items: center;
    height: 7vw;
    display: flex;
    justify-content: right;
}

.home-list-text {
    margin-right: 10px;
    font-size: 25px;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}

.home-footer {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-basis: 10%;
    background-color: #FFAB00;
}